* {
  box-sizing: border-box;
}

.panel-3d {
  pointer-events: none;
  background-color: transparent;
}

.panel-3d * {
  pointer-events: auto;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  /* background-color: #f1f1f1; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;

}


html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: fixed;
  overflow: hidden;
}

body {
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  color: black;
}

.canvas {
  position: absolute;
  top: 0;
  z-index: 10;
  /* pointer-events: none; */
}

.scroll-container {
  position: absolute;
  overflow: auto;
  top: 0px;
  width: 100%;
  height: 100vh;
  /* font-size: 20em; */
  font-weight: 800;
  line-height: 0.9em;
}

.contact-us {
  font-size: 2em;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-us input {
  border-radius: 3px;
  border: none;
  height: 40px;
  width: 30%;
  font-size: 1em;
  margin: 10px;
  transition-duration: 0.2s;  
  background-color: rgba(128, 128, 128, 0.89);
}

.contact-us input:hover {
  background-color: white;
}

.contact-us button {
  width: 130px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 1em;  
  transition-duration: 0.2s;  
}

.contact-us button:hover {
  background-color: rgba(49, 151, 49, 0.336);
}

.logo {
  width: 100%;
}


.bar {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  background: lightcoral;
}